<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>
            <h2 class="sub-header">Users</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span class="caret"></span> Username</th>
                        <th><span class="caret"></span> Password</th>
                        <th><span class="caret"></span> Role</th>
                        <th><span class="caret"></span> Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input id="userInput" placeholder="username"></td>
                        <td><input id="userPassword" type="password" placeholder="password"></td>
                        <td><input id="userRole" placeholder="role1, role2"></td>
                        <td><span class="glyphicon glyphicon-plus"/> <span class="glyphicon glyphicon-ok"/></td>
                    </tr>
                    <tr>
                        <td>alice</td>
                        <td></td>
                        <td>student</td>
                        <td><span class="glyphicon glyphicon-remove"/> <span class="glyphicon glyphicon-pencil"/></td>
                    </tr>
                    <tr>
                        <td>bob</td>
                        <td></td>
                        <td>faculty, admin</td>
                        <td><span class="glyphicon glyphicon-remove"/> <span class="glyphicon glyphicon-pencil"/></td>
                    </tr>
                    <tr>
                        <td>charlie</td>
                        <td></td>
                        <td></td>
                        <td><span class="glyphicon glyphicon-remove"/> <span class="glyphicon glyphicon-pencil"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>