<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#forms">Forms</a></li>
                <li role="presentation"><a href="#fields">Fields</a></li>
            </ul>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span class="caret"></span> Form Name</th>
                        <th><span class="caret"></span> Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input id="name" placeholder="name"></td>
                        <td><span class="glyphicon glyphicon-plus"/> <span class="glyphicon glyphicon-ok"/></td>
                    </tr>
                    <tr>
                        <td>Registration Form</td>
                        <td><span class="glyphicon glyphicon-remove"/> <span class="glyphicon glyphicon-pencil"/></td>
                    </tr>
                    <tr>
                        <td>Contact List</td>
                        <td><span class="glyphicon glyphicon-remove"/> <span class="glyphicon glyphicon-pencil"/></td>
                    </tr>
                    <tr>
                        <td>To Do List</td>
                        <td><span class="glyphicon glyphicon-remove"/> <span class="glyphicon glyphicon-pencil"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>