/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Missing Style elements
 */
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}
.navbar-fixed-top {
    top: 0;

    border-width: 0 0 1px;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    min-height: 50px;
    margin-bottom: 20px;
}

/*
 * My custom style elements
 */

/* Blue team attributes */
.blue {
    color: rgba(0, 110, 140, 1);
}

/* Red Team attributes */
.red {
    color: rgba(230, 22, 16, 1);
}

.backdrop {
    margin-top:3em;
}

.champDisp {
    padding:1em;
}

.champIcon {
    width:120px;
    height:120px;
    padding: 1px;
}
.left {
    float: left;
}
.closeModal {
    padding:1em;
    font-weight: 900;
}
.center {
    text-align: center;
}

.myModal {
    position:fixed;
    left:5%;
    top:10%;
    width:85%;
    height:75%;
    border: solid;
    background-color:sandybrown;
}
.modal-content{
    width:90%;
    margin-left:5%;
}
.modal-scrollable{
    overflow-y:scroll;
    overflow-x:hidden;
    border:solid;
    height:62%;
    width:95%;
    margin:3%;
    background-color: navajowhite;
}
.region{
    padding: 1em;
}