<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms: Registration Form</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#fields">Fields</a></li>
            </ul>

            <div id="form-fields">

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">First Name:</div>
                        <div class="row">
                            <input id="inputFirst1" class="form-control" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-md-4 actions-lg">
                        <span class="glyphicon glyphicon-pencil"/>
                        <span class="glyphicon glyphicon-plus"/>
                        <span class="glyphicon glyphicon-remove"/>
                        <span class="glyphicon glyphicon-align-justify"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">Last Name:</div>
                        <div class="row">
                            <input id="inputLast1" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="col-md-4 actions-lg">
                        <span class="glyphicon glyphicon-pencil"/>
                        <span class="glyphicon glyphicon-plus"/>
                        <span class="glyphicon glyphicon-remove"/>
                        <span class="glyphicon glyphicon-align-justify"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">Date of Birth:</div>
                        <div class="row">
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4 actions-lg">
                        <span class="glyphicon glyphicon-pencil"/>
                        <span class="glyphicon glyphicon-plus"/>
                        <span class="glyphicon glyphicon-remove"/>
                        <span class="glyphicon glyphicon-align-justify"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">Gender:</div>
                        <div class="row">
                            <select class="form-control" id="gender">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 actions-lg">
                        <span class="glyphicon glyphicon-pencil"/>
                        <span class="glyphicon glyphicon-plus"/>
                        <span class="glyphicon glyphicon-remove"/>
                        <span class="glyphicon glyphicon-align-justify"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">Roles:</div>
                            <div class="checkbox">
                                <label id="admin"><input type="checkbox"> Admin</label>
                            </div>
                            <div class="checkbox">
                                <label id="student"><input type="checkbox"> Student</label>
                            </div>
                            <div class="checkbox">
                                <label id="user"><input type="checkbox"> User</label>
                            </div>
                    </div>
                    <div class="col-md-4 actions-lg">
                        <span class="glyphicon glyphicon-pencil"/>
                        <span class="glyphicon glyphicon-plus"/>
                        <span class="glyphicon glyphicon-remove"/>
                        <span class="glyphicon glyphicon-align-justify"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">License Agreeement:</div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="licenseRadio" id="licenseAccept" value="option1">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="licenseRadio" id="licenseDecline" value="option2">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 actions-lg">
                        <span class="glyphicon glyphicon-pencil"/>
                        <span class="glyphicon glyphicon-plus"/>
                        <span class="glyphicon glyphicon-remove"/>
                        <span class="glyphicon glyphicon-align-justify"/>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">Add New Field:</div>
                        <div class="row">
                            <select class="form-control" id="field">
                                <option>Single Line Text</option>
                                <option>Date</option>
                                <option>Dropdown</option>
                                <option>Checkboxes</option>
                                <option>Radio Buttons</option>
                                <option>Paragraph Text Field</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 actions-lg">
                        <span class="glyphicon glyphicon-plus"/>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>