<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="col-xs-2">
                    <div class="dropdown">
                        <button class="btn btn-default btn-lg  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Forms
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="form in forms"><a href="#form/{{ form._id }}/fields">{{ form.title }}</a></li>
                            <li ng-if="!forms"><a>No Forms</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h1 ng-if="form" class="page-header">Fields for {{ form.title }}</h1>
                    <h1 ng-if="!form" class="page-header">Select a Form</h1>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#fields">Fields</a></li>
            </ul>

            <div id="form-fields" ng-if="form">

                <div ng-repeat="field in fields" class="row">
                    <div class="col-md-4">
                        <div class="row">{{ field.label }}</div>
                        <div class="row">
                            <!--Text Box-->
                            <div ng-if="field.type=='text' || field.type=='email'">
                                <input type="{{ field.type }}"
                                       class="form-control"
                                       placeholder="{{ field.attrs[0].placeholder }}">
                                <div class="edit"ng-if="edit==field._id">
                                    <p>Editing</p>
                                    <label>Label: <input ng-model="field.label" placeholder="Label"></label>
                                    <label>Placeholder: <input ng-model="field.attrs[0].placeholder" placeholder="Placeholder"></label>
                                </div>
                            </div>
                            <!--Text Area-->
                            <div ng-if="field.type=='textarea'">
                                <textarea rows="4" cols="50" placeholder="{{ field.attrs[0].placeholder }}"/>
                                <div class="edit"ng-if="edit==field._id">
                                    <p>Editing</p>
                                    <label>Label: <input ng-model="field.label" placeholder="Label"></label>
                                    <label>Placeholder: <input ng-model="field.attrs[0].placeholder" placeholder="Placeholder"></label>
                                </div>
                            </div>
                            <!--Dropdown-->
                            <div ng-if="field.type=='options'">
                                <select class="form-control">
                                    <option ng-repeat="option in field.attrs[0].options"
                                            value="{{ option.value }}">{{ option.label }}
                                    </option>
                                </select>
                                <div class="edit"ng-if="edit==field._id">
                                    <p>Editing</p>
                                    <label>Label: <input ng-model="field.label" placeholder="Label"></label>
                                    <div ng-repeat="option in field.attrs[0].options" class="input-group">
                                        <input type="text" ng-model="option.label" class="form-control" placeholder="Label"/>
                                        <span class="input-group-addon">-</span>
                                        <input type="text" ng-model="option.value" class="form-control" placeholder="Value"/>
                                        <span ng-click="deleteOption(option.label, field)" class="input-group-addon">X</span>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" ng-model="attrs.label" class="form-control" placeholder="Label"/>
                                        <span class="input-group-addon">-</span>
                                        <input type="text" ng-model="attrs.value" class="form-control" placeholder="Value"/>
                                        <span ng-click="addOption(field)" class="input-group-addon">+</span>
                                    </div>
                                </div>
                            </div>
                            <!--Date Input-->
                            <div ng-if="field.type=='date'">
                                <input  type="date" class="form-control">
                                <div class="edit"ng-if="edit==field._id">
                                    <p>Editing</p>
                                    <label>Label: <input ng-model="field.label" placeholder="Label"></label>
                                </div>
                            </div>
                            <!--Checkbox-->
                            <div ng-if="field.type=='checkbox'">
                                <div ng-repeat="option in field.attrs[0].options" class="checkbox">
                                    <label><input type="checkbox" value="{{ option.value }}">{{ option.label }}</label>
                                </div>
                                <div class="edit"ng-if="edit==field._id">
                                    <p>Editing</p>
                                    <label>Label: <input ng-model="field.label" placeholder="Label"></label>
                                    <div ng-repeat="option in field.attrs[0].options" class="input-group">
                                        <input type="text" ng-model="option.label" class="form-control" placeholder="Label"/>
                                        <span class="input-group-addon">-</span>
                                        <input type="text" ng-model="option.value" class="form-control" placeholder="Value"/>
                                        <span ng-click="deleteOption(option.label, field)" class="input-group-addon">X</span>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" ng-model="attrs.label" class="form-control" placeholder="Label"/>
                                        <span class="input-group-addon">-</span>
                                        <input type="text" ng-model="attrs.value" class="form-control" placeholder="Value"/>
                                        <span ng-click="addOption(field)" class="input-group-addon">+</span>
                                    </div>
                                </div>
                            </div>
                            <!--Radio-->
                            <div ng-if="field.type=='radio'">
                                <div ng-repeat="option in field.attrs[0].options" class="radio">
                                    <label>
                                        <input type="radio" name="field.attrs[0].name" value="{{ option.value }}">
                                        {{ option.label }}
                                    </label>
                                </div>
                                <div class="edit"ng-if="edit==field._id">
                                    <p>Editing</p>
                                    <label>Label: <input ng-model="field.label" placeholder="Label"></label>
                                    <div ng-repeat="option in field.attrs[0].options" class="input-group">
                                        <input type="text" ng-model="option.label" class="form-control" placeholder="Label"/>
                                        <span class="input-group-addon">-</span>
                                        <input type="text" ng-model="option.value" class="form-control" placeholder="Value"/>
                                        <span ng-click="deleteOption(option.label, field)" class="input-group-addon">X</span>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" ng-model="attrs.label" class="form-control" placeholder="Label"/>
                                        <span class="input-group-addon">-</span>
                                        <input type="text" ng-model="attrs.value" class="form-control" placeholder="Value"/>
                                        <span ng-click="addOption(field)" class="input-group-addon">+</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 actions-lg">
                        <span ng-if="edit!=field._id" ng-click="editField(field._id)" class="glyphicon glyphicon-pencil"/>
                        <span ng-if="edit==field._id" ng-click="updateField(field._id, field)" class="glyphicon glyphicon-ok"/>
                        <!--<span class="glyphicon glyphicon-plus"/>-->
                        <span ng-click="deleteField(field._id)" class="glyphicon glyphicon-remove"/>
                        <!--<span class="glyphicon glyphicon-align-justify"/>-->
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">Add New Field:</div>
                        <div class="row">
                            <select ng-model="attrs.type" class="form-control">
                                <option value="text">Single Line Text</option>
                                <option value="date">Date</option>
                                <option value="dropdown">Dropdown</option>
                                <option value="checkbox">Checkboxes</option>
                                <option value="radio">Radio Buttons</option>
                                <option value="textarea">Paragraph Text Field</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 actions-lg">
                        <span ng-click="newField()" class="glyphicon glyphicon-plus"/>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>