<div class="container-fluid">
    {{ edit }}
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#forms">Forms</a></li>
                <li role="presentation"><a href="#fields">Fields</a></li>
            </ul>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span class="caret"></span> Form Name</th>
                        <th><span class="caret"></span> Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input ng-model="newForm" placeholder="name"></td>
                        <td><span ng-click="addForm()" class="glyphicon glyphicon-plus"/></td>
                    </tr>
                    <tr ng-repeat="form in forms">
                        <td ng-if="edit!=form._id">{{ form.title }}</td>
                        <td ng-if="edit==form._id"><input ng-model="form.title"></td>
                        <td>
                            <span ng-click="deleteForm(form._id)" class="glyphicon glyphicon-remove"/>
                            <span ng-if="edit!=form._id" ng-click="selectForm(form._id)" class="glyphicon glyphicon-pencil"/>
                            <span ng-if="edit==form._id" ng-click="updateForm(form._id, form)" class="glyphicon glyphicon-ok"/></td>
                    </tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>