<div class="backdrop"></div>
<!--Top of the Page: Scores -->
<div class="row padded">
    <div class="blue center col-xs-6 col-sm-5 col-sm-offset-1 col-lg-3 col-lg-offset-2">
        <h1>Blue Team <p class="visible-xs"/> <small id="bl-percent">{{ (blueWin*100).toFixed(2) }} %</small></h1>
    </div>
    <div class="red center col-xs-6 col-sm-5 col-lg-3 col-lg-offset-2">
        <h1>Red Team <p class="visible-xs"/> <small id="rd-percent">{{ ((1 - blueWin)*100).toFixed(2) }} %</small></h1>
    </div>
</div>
<!--champion section -->
<div class="row vertical-align">
    <!-- Blue Team Heads -->
    <div class="col-xs-3 col-xs-offset-1 col-sm-2 col-md-1 col-md-offset-1 col-lg-offset-2 col-xl-offset-2">
        <img ng-repeat="n in [0,1,2,3,4]" class="head pull-right" ng-click="selectChamp(n)" src="{{ summoners[n].icon }}">
    </div>
    <!-- Blue Team Stuff -->
    <div class="hidden-xs blue col-sm-4 col-md-3 col-lg-2 col-xl-2">
        <div ng-repeat="n in [0,1,2,3,4]">
            <div class="input-group pull-left padded ultrawide">
                <div ng-if="!summoners[n].name" class="input-group in-dd-container">
                    <input type="text" class="form-control" ng-model="names[n]" placeholder="Summoner Name">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button" ng-click="searchSummoner(n)">Q</button>
                                    </span>
                </div>
                <div ng-if="summoners[n].name" class="input-group in-dd-container">
                    <p class="form-control">{{ summoners[n].name }}</p>
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button" ng-click="clearSummoner(n)">X</button>
                                    </span>
                </div>
                <div class="in-dd-container">
                    <div class="dd pull-left">
                        <select ng-model="summoners[n].role" ng-change="updateRole(n, summoners[n].role)" class="form-control">
                            <option ng-repeat="(key, value) in roles" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                    <div class="in pull-left">
                        <p ng-if="summoners[n].winRate" class="form-control">Win: {{ summoners[n].winRate.toFixed(2) }} %</p>
                        <p ng-if="!summoners[n].winRate" class="form-control">Win: ????</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blue Team Stuff-->
    <!-- Blue Team Mini Stuff -->
    <div class="visible-xs blue col-xs-2">
        <div ng-repeat="n in [0,1,2,3,4]" class="mini-button">
            <span class="btn glyphicon glyphicon-align-justify" ng-click="openModal(n)"></span>
            <p ng-if="summoners[n].winRate" class="form-control">{{ summoners[n].winRate.toFixed(0) }} %</p>
            <p ng-if="!summoners[n].winRate" class="form-control">??</p>
        </div>
    </div>
    <!-- End Blue Team Mini Stuff ->
    <!-- Red Team Mini Stuff -->
    <div class="visible-xs red col-xs-2">
        <div ng-repeat="n in [5,6,7,8,9]" class="mini-button">
            <span class="btn glyphicon glyphicon-align-justify" ng-click="openModal(n)"></span>
            <p ng-if="summoners[n].winRate" class="form-control">{{ summoners[n].winRate.toFixed(0) }} %</p>
            <p ng-if="!summoners[n].winRate" class="form-control">??</p>
        </div>
    </div>
    <!-- End Red Team Mini Stuff ->
    <!-- Red Team Stuff -->
    <div class="hidden-xs red col-sm-4 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1 col-xl-2">
        <div ng-repeat="n in [5,6,7,8,9]">
            <div class="input-group pull-right padded ultrawide">
                <div ng-if="!summoners[n].name" class="input-group in-dd-container">
                    <input type="text" class="form-control" ng-model="names[n]" placeholder="Summoner Name">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button" ng-click="searchSummoner(n)">Q</button>
                                    </span>
                </div>
                <div ng-if="summoners[n].name" class="input-group in-dd-container">
                    <p class="form-control">{{ summoners[n].name }}</p>
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button" ng-click="clearSummoner(n)">X</button>
                                    </span>
                </div>
                <div class="in-dd-container">
                    <div class="dd pull-right">
                        <select ng-model="summoners[n].role" ng-change="updateRole(n, summoners[n].role)" class="form-control">
                            <option ng-repeat="(key, value) in roles" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                    <div class="in pull-right">
                        <p ng-if="summoners[n].winRate" class="form-control">Win: {{ summoners[n].winRate.toFixed(2) }} %</p>
                        <p ng-if="!summoners[n].winRate" class="form-control">Win: ????</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Red Team Stuff -->
    <!-- Red Team Heads -->
    <div class="col-xs-3 col-sm-2 col-md-1">
        <img ng-repeat="n in [5,6,7,8,9]" class="head pull-left" ng-click="selectChamp(n)" src="{{ summoners[n].icon }}">
    </div>
</div>
<!--End Champion Section-->
<!-- Gap !-->
<div class="gap-below"/>
<!--Bottom of the Page: Damage Distributions -->
<div class="row">
    <!-- Blue Team Damage Distibution!-->
    <div class="col-xs-5 col-xs-offset-1 col-md-4 col-md-offset-1 col-xl-3 col-xl-offset-1">
        <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                 aria-valuenow="{{ blueDamage.phy }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ blueDamage.phy }}%">
                Physical Damage
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                 aria-valuenow="{{ blueDamage.mag }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ blueDamage.mag }}%">
                Magic Damage
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                 aria-valuenow="{{ blueDamage.def }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ blueDamage.def }}%">
                Tankiness
            </div>
        </div>
    </div>
    <!-- Red Team Damage Distribution -->
    <div class="col-xs-5 col-md-4 col-md-offset-1 col-xl-3 col-xl-offset-2">
        <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                 aria-valuenow="{{ redDamage.phy }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ redDamage.phy }}%">
                Physical Damage
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                 aria-valuenow="{{ redDamage.mag }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ redDamage.mag }}%">
                Magic Damage
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                 aria-valuenow="{{ redDamage.def }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ redDamage.def }}%">
                Tankiness
            </div>
        </div>
    </div>

</div>

<div ng-include src="'views/teamBuilder/summoner.modal.html'"></div>
<div ng-include src="'views/champselect/champselect.view.html'"></div>

