<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1>LoLComps <small class="hidden-xs">Draft Winning Teams</small></h1>
        </div>
        <div class="btn-group row pull-right">
            <select class="form-control" id="field">
                        <option>NA</option>
                        <option>EUW</option>
                        <option>EUE</option>
                        <option>LAN</option>
                        <option>LAS</option>
                        <option>KR</option>
            </select>
        </div>
    </div>
</nav>