<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>
            <h2 class="sub-header">Users</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span class="caret"></span> Username</th>
                        <th><span class="caret"></span> Password</th>
                        <th><span class="caret"></span> Role</th>
                        <th><span class="caret"></span> Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="!editFlag">
                        <td><input ng-model="newUser.username" placeholder="username"></td>
                        <td><input ng-model="newUser.password" type="password" placeholder="password"></td>
                        <td><input ng-model="newUser.roles" placeholder="role1, role2"></td>
                        <td><span ng-click="add()" class="glyphicon glyphicon-plus"/></td>
                    </tr>
                    <tr ng-if="editFlag">
                            <td></td><td></td><td></td>
                            <td><span ng-click="edit(0)" class="glyphicon glyphicon-pencil"/></td>
                    </tr>
                    <tr ng-repeat="user in users">
                        <td>
                            <p ng-if="editFlag!=user._id">{{user.username}}</p>
                            <input ng-if="editFlag==user._id" ng-model="user.username" placeholder="username">
                        </td>
                        <td>
                            <input ng-if="editFlag==user._id" ng-model="user.password" placeholder="password">
                        </td>
                        <td>
                            <p ng-if="editFlag!=user._id">{{user.roles.join(', ')}}</p>
                            <input ng-if="editFlag==user._id" ng-model="user.roles" placeholder="role1, role2">
                        </td>
                        <td>
                            <span ng-click="delete(user._id)" class="glyphicon glyphicon-remove"/>
                            <span ng-if="editFlag!=user._id" ng-click="edit(user._id)" class="glyphicon glyphicon-pencil"/>
                            <span ng-if="editFlag==user._id" ng-click="save(user)" class="glyphicon glyphicon-ok"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>