/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    overflow-x: hidden;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

h1.siteHeader {
    color: #d3c7a9;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -99999999;
}

div.welcome {
    background-image: url('https://i.ytimg.com/vi/BGtROJeMPeE/maxresdefault.jpg');
}

.getStarted{
    font-size: larger;
    border-style: inset;
    border-color: black;
    font-family: fantasy;
    position: fixed;
    right: 5px;
    width: 400px;
    height: 56px;
    bottom: 5px;
    padding-top: 14px;
}

.greenText {
    background-color: cadetblue;
    border-color: black;
    border-style: dotted;
    padding: 2em;
    font-size: large;
    color: darkslategrey;
}

/*
 * Missing Style elements
 */
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}
.navbar-fixed-top {
    top: 0;

    border-width: 0 0 1px;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    min-height: 50px;
    margin-bottom: 20px;
}

/*
 * My custom style elements
 */

/* Blue team attributes */
.blue {
    color: rgba(0, 110, 140, 1);
}

/* Red Team attributes */
.red {
    color: rgba(230, 22, 16, 1);
}

.backdrop {
    margin-top:3em;
}

.champDisp {
    padding:1em;
}

.ultrawide{
    width: 110%;
}

.champIcon {
    padding: 0;
    max-width: 135px;
    height: auto;
    padding-top: 1em;
    width: 20%;
}
.left {
    float: left;
}
.closeModal {
    padding:1em;
    font-weight: 900;
}
.center {
    text-align: center;
}

.champModal {
    position:fixed;
    left:5%;
    top:10%;
    width:85%;
    height:75%;
    border: solid;
    background-color:sandybrown;
    z-index: 10000;
}

.loginModal {
    position: fixed;
    top: 25%;
    left: 21%;
    width: 73%;
    height: 38%;
    background-color: gray;
    border: solid;
    z-index: 10000;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 400px;
    max-height: 400px;
}

.regModal {
    position: fixed;
    top: 25%;
    left: 21%;
    width: 73%;
    height: 60%;
    background-color: gray;
    border: solid;
    z-index: 10000;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 400px;
    max-height: 600px;
}

.modal-content{
    width:90%;
    margin-left:5%;
}
.modal-scrollable{
    overflow-y:scroll;
    overflow-x:hidden;
    border:solid;
    height:62%;
    width:95%;
    margin:3%;
    background-color: navajowhite;
}
.padded{
    padding: 1em;
}
.in-dd-container {
    width: 100%;
}
.in-dd-container > .in {
    width: 50%;
}

.in-dd-container > .in > p {
    padding: 0.4em;
}

.in-dd-container > .dd {
    width: 50%;
}

.left-text > h1 {
    transform: rotate(270deg);
    position: absolute;
    left: 0;
    width: 13em;
    height: 11em;
    z-index: -1;
}

a.visible {
    color: rgb(255, 235, 205);
    font-weight: 300;
}

.right-text > h1 {
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top: 5em;
    width: 13em;
    height: 11em;
    z-index: -1;
}

.gap-below {
    padding-bottom: 35px;
}

img.head {
    border-radius: 50%;
    border-color: goldenrod;
    border-style: inset;
    border-width: medium;
    width: 96px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.mini-button {
    height: 96px;
    font-size: 30px;
    width: 50px;
}

.mini-button > span {
    font-size: 42px;
    padding: 0;
}

.summonerModal {
    text-align: center;
    position: fixed;
    width: 500px;
    height: 300px;
    top: 35%;
    left: 5%;
    right: 5%;
    background: black;
    max-width: 94%;
    max-height: 30%;
    z-index: 9999;
}

.summonerModal > form {
    width: 80%;
    margin-left: 10%;
}