<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="row">
        <div class="col-xs-5 col-xs-offset-1 col-sm-6">
            <h1 class="siteHeader">LoLComps <br class="visible-xs"> <small>Draft Winning Teams</small></h1>
        </div>
        <div class="col-xs-5 col-xs-offset-1 col-sm-4">
            <div class="btn-group pull-right padded" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <select class="form-control" data-ng-options="r for r in $root.regions" data-ng-model="user.region"></select>
                </div>
                <button type="button" class="btn btn-default" ng-if="!user._id" ng-click="login()">Login</button>
                <button type="button" class="btn btn-default" ng-if="user._id" ng-click="logout()">Logout</button>
                <div ng-if="user._id" class="btn-group">
                    <p class="form-control">Welcome, <a ng-click="profile()">{{user.summoner}}</a></p>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="gap-below visible-sm"/>
<div class="gap-below visible-xs"/>