<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1>LoLComps <small class="hidden-xs">Draft Winning Teams</small></h1>
        </div>

        <div>
            <div class="nav navbar-nav navbar-right padded">
                <input ng-if="!user._id" class="form-control" type="button" value="Login" ng-click="login()">
                <input ng-if="user._id" class="form-control" type="button" value="Logout" ng-click="logout()">
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right padded">
                    <li>
                        <select class="form-control" data-ng-options="r for r in ranks" data-ng-model="user.rank"></select>
                    </li>
                    <li>
                        <select class="form-control" data-ng-options="r for r in regions" data-ng-model="user.region"></select>
                    </li>
                </ul>
            </div>
            <div ng-if="user._id" class="nav navbar-nav navbar-right padded">
                <p class="form-control">Welcome, <a>{{user.summonername}}</a></p>
            </div>
        </div>

        <!--<ul class="nav navbar-nav navbar-right padded">-->
            <!--<li ng-if="user._id"><a>Welcome, {{user.summonername}}!</a></li>-->
            <!--<li>-->
                <!--<select class="form-control" data-ng-options="r for r in ranks" data-ng-model="user.rank"></select>-->
            <!--</li>-->
            <!--<li>-->
                <!--<select class="form-control" data-ng-options="r for r in regions" data-ng-model="user.region"></select>-->
            <!--</li>-->
            <!--<li>-->
                <!--<input ng-if="!user._id" class="form-control" type="button" value="Login" ng-click="login()">-->
                <!--<input ng-if="user._id" class="form-control" type="button" value="Logout" ng-click="logout()">-->
            <!--</li>-->
        <!--</ul>-->

</div>
</nav>