<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1>LoLComps <small class="hidden-xs">Draft Winning Teams</small></h1>
        </div>
        <div>
            <div class="btn-group pull-right padded" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <select class="form-control" data-ng-options="r for r in $root.regions" data-ng-model="user.region"></select>
                </div>
                <button type="button" class="btn btn-default" ng-if="!user._id" ng-click="login()">Login</button>
                <button type="button" class="btn btn-default" ng-if="user._id" ng-click="logout()">Logout</button>
                <div ng-if="user._id" class="btn-group">
                    <p class="form-control">Welcome, <a ng-click="profile()">{{user.summoner}}</a></p>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="gap-below visible-xs"/>