<div ng-controller="ProfileController" class="regModal center" ng-show="open">
    <a class="closeModal pull-right" ng-click="close()">X</a>

    <h1>Profile</h1>
        <form class="form-horizontal">
            <div class="input-group">
                <input ng-model="data.username" class="form-control" placeholder="Username">
                <span class="input-group-addon">Username</span>
            </div>

            <div class="input-group">
                <input ng-model="data.password" type="password" class="form-control" placeholder="Password">
                <span class="input-group-addon">Password</span>
            </div>

            <div class="input-group">
                <input ng-model="data.summoner" class="form-control" placeholder="Summoner Name">
                <span class="input-group-addon">Summoner Name</span>
            </div>
            <div class="input-group">
                <select class="form-control" data-ng-options="r for r in $root.regions" data-ng-model="data.region"></select>
                <span class="input-group-addon">Region</span>
            </div>

            <button ng-click="update()" class="btn form-control btn-default">Update</button>
            <div class="red">{{error}}</div>
        </form>
    <div ng-if="data.role == 'admin'">
        <h1>Admin</h1>
        <a class="visible" ng-click="admin()">Click here to access admin</a>
    </div>
</div>